html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
}
